
.headline-img {
    margin-bottom: 25px;
}

.headline-btn {
    display: inline-block;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: white;
    background-color: #a5cbd8;
    padding: 22px 117px 19px;
    border-radius: 40px;
}

.headline-btn {
    font-size: 18px;
    line-height: 22px;
    padding: 16px 90px;
}

.headline {
    background-color: white;
    text-align: center;
    padding: 70px 0 40px;
}
